*{
    padding: 0;
    margin: 0;
}
body{
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;

}
.container{
    padding: 50px;
}
.section-one{
    background-color: black;
    color: bisque;
    padding: 20px;
}
.section-one__contact{
    font-family: "Young Serif", serif; 
    background-color: #22C55e;
    color: black;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
}
.section-two,.section-three,.section-five{
    padding-top: 20px;
}
.section-three{
    background-color: #FE7517;
    color: black;
    display: inline-block;
    padding: 10px;
    padding-left: 20px;
    border-radius: 10px;
    height: 300px;
}
.section-four{
    background-color: aqua;
    color: black;
    display: inline-block;
    padding: 10px;
    padding-left: 20px;
    border-radius: 10px;
    height: 300px;
}.section-two__para,.section-three__para,.section-four__para{
    padding: 20px;
}.section-five{
    background-color: black;
    padding: 20px;

}.section-five p{
    color: aliceblue;
}
.section-five a{
    color: aquamarine;
}
.sub_container{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.contact-form{
    margin-top: 20px;
}
.contact-form tr{
    padding-bottom: 10px;
}
